<ul class="flex-container">
  <li><img  src="https://i.pinimg.com/originals/96/34/2c/96342c89ce360991cb99ec2d172ddd95.jpg"></li>
  <li><fa-icon [icon]="faHome"></fa-icon></li>
  <li><fa-icon [icon]="faAddressCard"></fa-icon></li>
  <li><fa-icon [icon]="faCalendar"></fa-icon></li>
  <li><fa-icon [icon]="faPrint"></fa-icon></li>
  <li><fa-icon [icon]="faGlobeEurope"></fa-icon></li>
  <li><fa-icon [icon]="Logout"></fa-icon></li>
</ul>


<svg width="0" height="0">
  <defs>
    <clipPath id="myClip">
      <path d="m 90 30 L 90 30 c -90 0 -90 90 0 90 l 0 0 c 30 0 30 1 30 30 l 0 -120 L 90 30 m 0 0 c 30 0 30 0 30 -30 s 0 21 0 30" />
    </clipPath>
  </defs>
</svg>
