<div class="grid-container">
  <div>
      <div class="search-card">
        <div class="search-sub-container">
            <div>
              <fa-icon [icon]="faSearch"></fa-icon>
            </div>
            <div>search</div>
        </div>
      </div>
  </div>
  <div class="right-section">
    <div class="profile-card">
      <div class="profile-sub-container">
          <div class="center">
            <fa-icon [icon]="faBell"></fa-icon>
          </div>
          <div  class="center">2N</div>
          <div  class="center">
            <div>John Doe</div>
            <div>UI/UX</div>
          </div>
          <div class="image-card">
          </div>
      </div>
    </div>
  </div>
</div>

<div class="body-grid-container">
  <div>
    <div class="intro-card">
      <h2>Hi John Doe</h2>
      <img style="    width: 10rem;
      float: right;
      margin: -10rem 0 0 0;" src="../../assets/office.png">
      <p>asjhbajhs sdak ka jk ak skdjsa bdjksab jkd bsak bdakb </p>
      <button class="button-design">New care</button>
    </div>
    <h3>Spotlight Blogs</h3>
      <div class="card-body-grid-container">

        <div class="flex-container">
          <div class="intro-card-mini">
            <h2>Hi John Doe</h2>

            <p>asjhbajhs sdak ka jk ak skdjsa bdjksab jkd bsak bdakb </p>

            <ul class="avatar-list">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>


          <div class="intro-card-mini">
            <h2>Hi John Doe</h2>

            <p>asjhbajhs sdak ka jk ak skdjsa bdjksab jkd bsak bdakb </p>
            <ul class="avatar-list">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>


          <div class="intro-card-mini">
            <h2>Hi John Doe</h2>

            <p>asjhbajhs sdak ka jk ak skdjsa bdjksab jkd bsak bdakb </p>
            <ul class="avatar-list">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>

      </div>

      <div id="chartdiv"></div>
  </div>
  <div >
    <div class="right-container">
      <ul class="right-card-list">
        <li>
          <div class="right-card">
              <div class="right-card-p-box">
                <fa-icon [icon]="faArrowRight"></fa-icon>
              </div>
              <div>
                <p>Active Payload</p>
                <p>80</p>
              </div>
              <div class="right-card-icon">
                <fa-icon [icon]="faArrowRight"></fa-icon>
              </div>

          </div>
        </li>
        <li>
          <div class="right-card">
              <div class="right-card-p-box">
                <fa-icon [icon]="faArrowRight"></fa-icon>
              </div>
              <div>
                <p>Active Payload</p>
                <p>80</p>
              </div>
              <div class="right-card-icon">
                <fa-icon [icon]="faArrowRight"></fa-icon>
              </div>

          </div>
        </li>
        <li>
          <div class="right-card">
              <div class="right-card-p-box">
                <fa-icon [icon]="faArrowRight"></fa-icon>
              </div>
              <div>
                <p>Active Payload</p>
                <p>80</p>
              </div>
              <div class="right-card-icon">
                <fa-icon [icon]="faArrowRight"></fa-icon>
              </div>

          </div>
        </li>
        <li>
          <div class="right-card">
              <div class="right-card-p-box">
                <fa-icon [icon]="faArrowRight"></fa-icon>
              </div>
              <div>
                <p>Active Payload</p>
                <p>80</p>
              </div>
              <div class="right-card-icon">
                <fa-icon [icon]="faArrowRight"></fa-icon>
              </div>

          </div>
        </li>
      </ul>

      <h4>Followers</h4>

      <ul class="follower-list">
        <li>
          <div class="follower-card" style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTN3-b6hE_5K-l4bv_gBuFtF5zWoPEhSkLsuw&usqp=CAU');">
            <div class="overlay">My Name is John</div>
          </div>
        </li>
        <li>
          <div class="follower-card" style="background-image:url('https://www.rd.com/wp-content/uploads/2017/09/01-shutterstock_476340928-Irina-Bg.jpg');">
            <div class="overlay">My Name is John</div>
          </div>
        </li>
        <li>
          <div class="follower-card" style="background-image:url('https://www.irreverentgent.com/wp-content/uploads/2018/03/Awesome-Profile-Pictures-for-Guys-look-away2.jpg');">
            <div class="overlay">My Name is John</div>
          </div>
        </li>
        <li>
          <div class="follower-card" style="background-image:url('https://expertphotography.com/wp-content/uploads/2020/08/profile-photos-2.jpg');">
            <div class="overlay">My Name is John</div>
          </div>
        </li>
        <li>
          <div class="follower-card" style="background-image:url('https://www.rd.com/wp-content/uploads/2017/09/01-shutterstock_476340928-Irina-Bg.jpg');">
            <div class="overlay">My Name is John</div>
          </div>
        </li>
      </ul>

      <div class="right-pro-account-container">
        <p>dsad as das d asd as d asd as d asd as das d asd as das d asdasdasd as d
          asdasdasdad
        </p>
        <button class="pro-account-button">New care</button>
      </div>
    </div>

  </div>
</div>




<div>
</div>
